html {
    background-color : black;
    color: white;
}


#break {
    font-size: 80px;
    position:absolute;
    top:60px;
    left:120px;
    display:inline;
}

#watch {
    position:absolute;
    top:63px;
    right:10px;
}

#icon{
    position:absolute;
    top : -20px;
    left : 60px;
}
.numbers {
    font-family: "Century Gothic";
    font-size: 75px;
}

.words {
    font-family: "Century Gothic";
    font-size: 25px;
}

#Temperature {
    position:absolute;
    top:133px;
    left:15px;
    display:inline;
    /*padding-left: 45px;*/
    font-family: "Helvetica";
    font-size: 40px;
}

#Summary {
    position:relative;
    padding-left: 185px;
    top:105px;
    font-family:"Century Gothic";
    font-size:38px;
}

#Location {
    position:relative;
    font-family:"Century Gothic";
    font-size:30px;
    padding-left: 135px;
    top:78px;
}
