html {
    background-color : black;
    color: white;
}

#watch {
    position:absolute;
    top:63px;
    right:10px;
}

.numbers {
    font-family: "BankGothic Md BT";
    font-size: 75px;
}

.words {
    font-family: "BankGothic Md BT";
    font-size: 45px;
}

#Temperature {
    position:absolute;
    top:0px;
    left:120px;
    display:inline;
    font-family: "BankGothic Md BT";
    font-size: 85px;
}

#Summary {
    padding-left: 22px;
    font-family:"BankGothic Md BT";
    font-size:40px;
}

#Location {
    padding-left: 22px;
    font-family:"BankGothic Md BT";
    font-size:30px;
}
